@charset "UTF-8";
$header-fix: true; //true: 헤더가 상단 고정일 경우입니다.

.header {
	background-color: transparent;
	width: 100%;
	z-index: 500;
	transition: all 0.4s;
	@if ($header-fix == true) {
		position: fixed;
		top: 0;
		left: 0;
		@at-root html {
			scroll-padding-top: $nav-height + $container-gutter-width/2; //input required 브라우저 메시지 포커싱 위치를 맞춰줍니다.
		}
	}
	@include mdq-max(lg) {
		@at-root html {
			scroll-padding-top: $nav-height-lg + $container-gutter-width/2; //input required 브라우저 메시지 포커싱 위치를 맞춰줍니다.
		}
	}
	&.scrolled {
		background-color: #fff;
		box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
		.header-wrap {
			height: $nav-height;
			margin-top: 0;
			.SnsWrap {
				top: rem(40);
			}
			@include mdq-max(lg) {
				height: $nav-height-lg;
				.SnsWrap {
					top: rem(20);
				}
			}
			@include mdq-max(md) {
				.SnsWrap {
					top: 50%;
					transform: translateY(-50%);
				}
			}
		}
	}

	.header-wrap {
		// height: $nav-height;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin-top: rem(60);
		position: relative;

		&.container {
			max-width: 1820px;
		}

		.logo-w,
		.menu-w {
			display: none;
		}

		.logo {
			flex: 0 0 auto;
			padding-left: rem(40);
			img {
				width: em(152);
			}
		}
		@include mdq-max(lg) {
			// height: $nav-height-lg;
			// margin-top: rem(30);
			.logo {
				padding-left: rem(20);
			}
		}
		@include mdq-max(md) {
			margin-top: rem(40);
			.logo {
				padding-left: rem(10);
				img {
					width: em(138);
				}
			}
		}

		.SnsWrap {
			position: absolute;
			top: rem(-5);
			right: 20px;
			.snsbx {
				@include mdq-max(md) {
					display: flex;
					&--list {
						margin-bottom: 0;
						margin-right: 4px;
						&:last-child {
							margin-right: 0;
						}
						.Text {
							display: none;
						}
					}
				}
				&--list {
					margin-bottom: 4px;
					.inner {
						display: inline-block;
						position: relative;
						&:hover {
							.iconbx {
								background: #868ca2;
							}
							.Text {
								transform: translate(0, -50%);
								opacity: 1;
							}
						}
					}
					.iconbx {
						width: rem(48);
						height: rem(48);
						border-radius: 4px;
						box-shadow: 1.4px 1.4px 7.6px 0.4px rgba(18, 18, 18, 0.3);
						background: #fff;
						display: flex;
						align-items: center;
						justify-content: center;
						transition: all 0.4s;

						img {
							vertical-align: middle;
						}
					}
					.Text {
						font-size: rem(15);
						font-weight: 500;
						letter-spacing: -0.3px;
						color: #000;
						font-family: 'SUIT';
						width: rem(64);
						text-align: right;
						transition: all 0.5s;
						position: absolute;
						top: 50%;
						transform: translate(50px, -50%);
						left: rem(-74);
						z-index: -1;
						opacity: 0;
					}
				}
			}
		}
	}
}

.main-body,
.sub-body {
	// @if ($header-fix == true) {
	// 	padding-top: $nav-height;
	// 	@include mdq-max(lg) {
	// 		padding-top: $nav-height-lg;
	// 	}
	// }
}
.main {
	min-height: 65vh;
}

// 스크롤
.main-body,
.sub-body {
	overflow-y: auto;
	&::-webkit-scrollbar {
		width: 7px;
	}
	&::-webkit-scrollbar-thumb {
		background: $color-1;
		border-radius: 7px;
	}

	&::-webkit-scrollbar-track {
		background-color: #eeeeee;
		border-radius: 10px;
	}
}

//quick
.quickwrap {
	position: fixed;
	right: rem(60);
	bottom: 3%;
	z-index: 500;

	@media (max-width: 1800px) {
		right: rem(20);
		bottom: 1%;
	}
	.quick {
		&--list {
			width: rem(56);
			height: rem(56);
			margin-bottom: rem(12);
			border-radius: 50%;

			@include mdq-max(lg) {
				width: rem(52);
				height: rem(52);
				margin-bottom: rem(6);
			}
			&:first-child {
				background: $color-1;
				position: relative;
				z-index: 1;

				&::after {
					position: absolute;
					top: -1px;
					right: -1px;
					content: '';
					border: 1px solid #fff;
					width: 100%;
					height: 100%;
					border-radius: 50%;
					z-index: -1;
				}
			}
			&:last-child {
				margin-bottom: 0;
				background: #fff;
				box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
			}

			.inner {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				height: 100%;
				width: 100%;
				color: #fff;
				padding: rem(10);
				p {
					font-size: rem(13);
					font-weight: bold;
					letter-spacing: -0.26px;
					line-height: 1;
				}
				i {
					font-size: rem(25);
					margin-top: rem(-5);
				}
			}
		}
	}
}
