@charset "UTF-8";
.sub-visual {
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	// font-family: $ff-eng-sans-serif;
	&__wrapper {
		width: 100%;
		margin: 0 auto;
		display: flex;
		height: 800px;
		flex-wrap: wrap;
		align-content: flex-end;
		align-items: flex-end;
		justify-content: flex-start;
		text-align: left;
		color: #fff;

		@include mdq-max(lg) {
			height: 500px;
		}

		@include mdq-max(sm) {
			height: 65vw;
			font-size: 2vw;
		}
	}
	&__title {
		width: 100%;
		font-size: em(56);
		letter-spacing: letterSpacing(-25);
		line-height: 1.2;
		font-weight: 600;
	}
	&__txt {
		font-size: em(44);
		padding-bottom: rem(90);
		@include mdq-max(lg) {
			font-size: em(30);
			padding-bottom: rem(30);
		}
	}
}
